* {
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

body {

    background: linear-gradient(  to right, #1029e3, rgb(146, 120, 230) );
    height: 100vw;
    overflow: hidden;

}

.donaperfil img {

    position: absolute;
    top: 20%;
    right: 12%; 
    height: 330px;
     width: 330px;
    border-radius: 100%;
    object-fit: cover;
    border: 8px solid rgb(22, 7, 242);
}

@font-face {
    font-family: "showtoon";
    src: url(../../fontes/showtoon/Showtoon.ttf) format(truetype);
}

@font-face {
    font-family: "unageo";
    src: url(../../fontes/unageo/ttf/Unageo-Black.ttf) format(truetype);
}

@font-face {
    font-family: "daydream";
    src: url(../../fontes/daydream_3/Daydream.ttf)format(truetype);
}

@font-face {
    font-family: "flasty";
    src: url(../../fontes/flasty/FLASTY\ Trial.ttf) format(truetype);
}

@font-face {
    font-family: "heavitas";
    src: url(../../fontes/heavitas/Heavitas.ttf)format(truetype) ;
}

.donapecinha {
  
    position: absolute;
    top: 45%;
    left: 10%;    
    font-family: "showtoon", Arial, Helvetica, sans-serif;
    font-size: 85px; 

}

.garulhos {

  position: absolute;
  top: 58%;
  left: 21%;
  font-family: "flasty", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;


}

.guilherme {

position: absolute;
top: 65%;
right: 12%;
font-family: "heavitas", Arial, Helvetica, sans-serif;
font-size: 50px;
}

.idade {

font-family: "heavitas", Arial, Helvetica, sans-serif;
font-size: 30px;
position: absolute;
top: 73%;
right: 18%;

}
.twitch {
 height: 20px;
 width: 20px;
 position: absolute;
 top: 82%;
 left: 12%;

}
.instagram {
 height: 20px;
 width: 20px;
 position: absolute;
 top: 85%;
 left: 4%;
 
}

.twitch img {

  height: 170px;
  width: 190px;
}

.instagram img {
  
  height: 120px;
  width: 120px;
}

.liveon {

font-family: "daydream", Arial, Helvetica, sans-serif;
position: absolute;
top: 91%;
left: 25%;
font-size: 30px;

}

.botao-voltar {
        width: 200px;
        height: 45px;
        font-size: 16px;
        background-color: rgb(226, 24, 169);
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed; left: 0%;
        text-align: center;
      }
    .botao-voltar:hover {
        background-color: #555;
        color: white    ;
        transform: translateY(-2px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
        
      }