* {

 padding: 0%;
 margin: 0%;
 box-sizing: border-box;

}

body {
 background: linear-gradient(to right, rgb(12, 12, 12), rgb(220, 220, 230));
    height: 100vh;
   
   overflow: hidden;
   
}

@font-face {
    font-family: "showtoon";
    src: url(../../fontes/showtoon/Showtoon.ttf) format(truetype);
}

@font-face {
    font-family: "unageo";
    src: url(../../fontes/unageo/ttf/Unageo-Black.ttf) format(truetype);
}

@font-face {
    font-family: "daydream";
    src: url(../../fontes/daydream_3/Daydream.ttf)format(truetype);
}

@font-face {
    font-family: "flasty";
    src: url(../../fontes/flasty/FLASTY\ Trial.ttf) format(truetype);
}

@font-face {
    font-family: "heavitas";
    src: url(../../fontes/heavitas/Heavitas.ttf)format(truetype) ;
}



.tropa {

    font-family: "showtoon";
    position: absolute;
    top: 5%;
    left: 25%;
    font-size: 80px;
}

.yuritropa {

    position: absolute;
    top: 30%;
    right: 10%;
    
}

.yuritropa img {
border-radius: 50%;
 height: 300px;
 width: 450px;
}

.donatropa {

    position: absolute;
    top: 23%;
    left: 10%;
    
}

.donatropa img {
border-radius: 50%;
 height: 350px;
 width: 500px;
}

.dona {

position: absolute;
top: 69%;
left: 21%;
font-family: "unageo", Arial, Helvetica, sans-serif;
font-size: 50px;


}

.yuri {

position: absolute;
top: 69%;
right: 21%;
font-family: "unageo", Arial, Helvetica, sans-serif;
font-size: 50px;

}

.yuri a {

    text-decoration: none;
    color: black;
}

.dona a {

    text-decoration: none;
    color: black;
}